* {
  color: #fff;
  margin: 0;
  padding: 0; }

body {
  background-color: #000; }

.navbar {
  margin-bottom: 0;
  border-right: 0;
  background-color: #000;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border-bottom: 2px solid #fff; }

.navbar-brand {
  float: left;
  width: 190px;
  height: 60px;
  animation-delay: 1s;
  animation-duration: 2s; }

.navbar-inverse .navbar-nav .active a {
  color: #000;
  background-color: #fff; }
  .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #000;
    background-color: #fff; }
.navbar-inverse .navbar-nav li a {
  color: #d5d5d5; }

.carousel {
  margin-top: 90px; }

.mainPageSlides img {
  margin-top: 90px;
  width: 100%;
  height: 600px;
  max-height: 600px;
  min-height: 300px;
  margin: auto; }

.peopleCarouselImg img {
  width: auto;
  text-align: center;
  height: 600px;
  max-height: 600px;
  margin: auto; }

.carousel-caption {
  color: #eee;
  top: 50%;
  text-transform: uppercase;
  text-shadow: 1px 4px #333; }

.btn {
  font-size: 1.4em;
  color: #fff;
  padding: 12px 22px;
  background: #000;
  border: 2px solid #fff; }

@media (max-width: 1300px) {
  .carousel-caption {
    top: 2%; } }
@media (max-width: 768px) {
  .carousel-caption {
    top: 0; } }
.hs-overlay {
  width: 400px;
  height: 450px; }

section {
  margin: 150px 0; }

.djBox {
  position: relative;
  margin: 40px auto;
  border-radius: 4px;
  overflow: hidden;
  max-width: 300px;
  border: 5px solid #eee;
  max-height: 300px; }

.djBox h3 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100%;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s; }

.djBox:hover h3 {
  top: 10%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.djBox ul {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s; }

.djBox:hover ul {
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px); }

.djBox ul li {
  list-style: none;
  width: 100%;
  box-sizing: border-box; }

.djBox ul li a {
  color: #eee;
  font-size: 30px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px #333; }

.djBox ul li:hover {
  background: rgba(200, 200, 200, 0.7);
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px #eee; }

form {
  max-width: 450px;
  margin: 0 auto 50px; }
  form input, form textarea {
    background-color: #000;
    color: #fff;
    border: 4px solid #ccc;
    width: 100%; }

.contact-info-group label {
  width: 50%;
  padding-right: 10px;
  float: left; }

label {
  display: block;
  margin-bottom: 20px; }

span {
  display: block; }

footer {
  width: 100%;
  background-color: #000;
  padding: 3%;
  color: #fff; }

.fa {
  padding: 25px;
  font-size: 30px;
  color: #fff; }
  .fa:hover {
    color: #d5d5d5;
    text-decoration: none; }

@media (max-width: 900px) {
  .fa {
    padding: 10px;
    font-size: 20px; } }

/*# sourceMappingURL=main.css.map */
