.about-container {
  margin: 0 auto;
  position: relative;
  .about-content {
    position: absolute;
    padding-left: 25%;
    padding-right: 25%;
    position: absolute;
    background: rgba(0,0,0,.6);
    }
  }
  .about-img {
    img {
      max-height: 700px;
      width: 100%;
    }

  }
@media (max-width: 768px) {
  .about-container {
    .about-content {
      position: relative;
      padding-left: 2%;
      padding-right: 2%;
      }
    }
  }
