.equipment-container {
  margin: 0 auto;
  position: relative;
  height: 500px;
  border: 4px #eee ridge;
  border-radius: 4px;
  .banner-content {
    padding: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.6);
    border: 4px $ice-color ridge;
    h3 {
      font-size: 30px;
    }
    .btn {
      position: absolute;
      margin-top: 15px;
      height: 40px;
      width: 70%;
      padding: 2px;
      font-size: 18px;
      background: #000;
      border: 4px $ice-color ridge;
      border-radius: 25px;
      text-transform: uppercase;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      span {
        color: $ice-color;
      }
    }
    .btn:hover {
      background: #aaa;
      border: 2px #222 ridge;
      text-shadow: 1px 1px #aaa;
      border: 4px $ice-color ridge;
    }
  }
}
.option1 {
  background: url(../imgClients/equipment/option1.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.option2 {
  background: url(../imgClients/equipment/option2.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
