
form {
  max-width: 500px;
  margin: 0 auto 50px;
  font-size: 18px;
  input, textarea {
    background-color: #000;
    color: #fff;
    border: 2px solid #ccc;
    width: 100%;
  }
}
.contact-info-group {
  label {
    width: 50%;
    padding-right: 10px;
    float: left;
  }
}
label {
  display: block;
  margin-bottom: 20px;
}
  span {
    display: block;
}
