.navbar {
  margin-bottom: 0;
  border-right: 0;
  background-color: #000;
  color: #fff;
  padding: 1% 0;
  font-size: 25px;
  border-bottom: 2px solid #fff;
}

.navbar-brand {
  float: left;
  width: 150px;
  height: 80px;
  animation-delay: 1s;
  animation-duration: 2s;
}

.navbar-inverse .navbar-nav {
  li a {
    font-family: 'Audiowide', cursive;
    color: #eee;
    &:focus, &:hover {
      color: #eee;
      text-shadow: 2px 2px #aaa;
      border: 2px #aaa solid;
      border-radius: 15px 15px 0 0;
    }
  }
}
.fa {
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  color: #d5d5d5;
  &:hover {
    color: $ice-color;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .fa {
    font-size: 18px;
    padding: 2px;
  }
}
