.carousel {
  margin-top: 90px;

}
.mainPageSlides img {
  margin-top: 90px;
  width: 100%;
  height: 600px;
  max-height: 600px;
  min-height: 300px;
  margin: auto;
}

.peopleCarouselImg img {
  width: auto;
  text-align: center;
  height: 600px;
  max-height: 600px;
  margin: auto;
}
.carousel-caption {
  color: #eee;
  top: 50%;
  text-transform: uppercase;
  text-shadow: 1px 4px #333;
}

.btn {
  font-size: 1.4em;
  color: #fff;
  padding: 12px 22px;
  background: #000;
  border: 2px solid #fff;
}

@media (max-width: 1300px) {
  .carousel-caption {
    top: 2%;
  // display: none;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 0;
  // display: none;
  }
}
.hs-overlay{
  width: 400px;
	height: 450px;
}
