.carousel {
  margin-top: 100px;


}
.mainPageSlides img {
  position: relative;
  width: 100%;
  height: 600px;
  max-height: 600px;
  min-height: 300px;
  margin: auto;
}

.peopleCarouselImg img {
  position: relative;
  width: auto;
  text-align: center;
  height: 600px;
  max-height: 600px;
  margin: auto;
}
// for all carousel`s
.carousel-caption {
 position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 10px 10px 2px #222;
p {
  display: inline-block;
  background-color: rgba(0,0,0,.5);
  border-radius: 2%;
  padding: 5%;
  border: 2px #eee solid;
  color: #eee;
  animation-delay: 1s;
  animation-duration: 2s;
}
}


@media (max-width: 1457px) {
  .carousel-caption {
      font-size: 40px;
  }
}
@media (max-width: 1250px) {
  .carousel-caption {
      font-size: 35px;
  }
 }

@media (max-width: 968px) {
  .carousel-caption {
    font-size: 30px;
    padding: 2%;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
      font-size: 25px;
  }
}
@media (max-width: 580px) {
  .carousel-caption {
      font-size: 20px;
  }
}
@media (max-width: 450px) {
  .carousel-caption {
      font-size: 18px;
  }
}
