.carousel {
  margin-top: 90px;
}

.carousel-caption {
  top: 50%;
  text-transform: uppercase;
}

.btn {
  font-size: 1.4em;
  color: #fff;
  padding: 12px 22px;
  background: #000;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .carousel-caption {
  display: none;
  }

  h2 {
    font-size: 20px; }
}
.hs-overlay{
  width: 400px;
	height: 450px;
}
