.icon {
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 400px;
}

a {
  color: #fff;
  text-decoration: none;
}

.slider-inner {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: #666 solid 1px;
  img {
    display: none;
    width: 300px;
    height: 300px;
    &.active {
      display: inline-block;
    }
  }
}

.prev, .next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
}

.prev {
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.next {
  position: relative;
  margin-left: -45px;
  z-index: 100;
}
